*, *::after, *::before{
    margin:0;
    padding:0;
    box-sizing: border-box;
}


body {
    font-family: 'Roboto Medium';
    font-size: 16px;
    line-height: 1.5;
}

img {
    max-width:100%;
    height: auto;
    display:block; 
 }
