.container {
    max-width: 320px;
    padding-left: 12px;
    padding-right: 12px;
    margin: 0 auto;
  }
  
  @media (min-width: 768px) {
    .container {
      max-width: 768px;
      padding-left: 28px;
      padding-right: 28px;
    }
  }
  
  @media (min-width: 1024px) {
    .container {
      max-width: 1024px;
      padding-left: 30px;
      padding-right: 30px;
    }
  }
  
  main {
    min-height: calc(100vh - 153px);
  }
  