$primary-color: #77c1bb; //header, footer
$disabled-text-color: rgba(55, 44, 72, 0.702);
$active-text-color: rgb(55, 44, 72); //nav
$item-text-color: rgb(255, 255, 255);
$thumbs-background-color: rgb(221, 221, 221);
$thumbs-background-color: rgb(85, 98, 112);
$black-base-color: #000;
$table-background-color: rgb(173, 218, 214);
