$primary-color: #77c1bb; //header, footer
$disabled-text-color: rgba(55, 44, 72, 0.702);
$active-text-color: rgb(55, 44, 72); //nav
$item-text-color: rgb(255, 255, 255);
// $thumbs-background-color: rgb(221, 221, 221);
$thumbs-background-color: rgb(85, 98, 112);
$black-base-color: #000;
$table-background-color: rgb(173, 218, 214);
$homePageBtnColor: #9c99a5;
$homePageSearchColor: rgba(0, 0, 0, 0.41);
$shadow: 0px 0px 5px 1px rgba(0, 0, 0, 0.75);
$homeRgbaLayoutColor: linear-gradient( 0deg, rgba(35, 31, 32, 1) 11%, rgba(71, 71, 75, 0) 82%);