.library {
  &__search {
    &--inner {
      height: 74px;
      padding-top: 15px;
      padding-bottom: 15px;
      box-shadow: 0px 5px 9px 1px $homePageSearchColor;
      margin-top: 65px;
    }
  }
  &__itemList {
    &--text {
      font-family: 'Roboto Regular', sans-serif;
      font-size: 15px;
      font-weight: 400;
    }
  }
  &__search {
    &--line {
      width: 280px;
      height: 2px;
      background-color: $homePageBtnColor;
      margin-top: 12px;
    }
  }
  &__search {
    &--line {
      width: 280px;
      height: 2px;
      background-color: $homePageBtnColor;
      margin-top: 12px;
    }
  }
  &__indent {
    display: flex;
    justify-content: center;
  }
  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid $homePageBtnColor;
    width: 140px;
    height: 40px;
    color: $active-text-color;
    cursor: pointer;
  }
  &__item:hover,
  &__item--active {
    background-color: $primary-color;
    border-bottom: 2px solid $primary-color;
    color: $item-text-color;
  }
  &__list {
    list-style: none;
    padding-top: 15px;
    font-size: 15px;
    font-weight: 500;
  }
}


@include breakpoints(s) {
  .library__list {
    margin-top: 20px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .library__itemList--text {
    font-size: 25px;
  }
}

@include breakpoints(ml) {
  .library__list {
    width: 1024px;
    margin-top: 25px;
    margin: 0 auto;
  }
}

// .list-items__rating {
//   display: inline-block;
//   background-color: #fff;
//   width: 43px;
//   height: 23px;
//   border-radius: 7px;
//   font-size: 20px;
//   line-height: 19px;
//   padding-top: 2px;
//   color: #000000;
//   font-weight: 500;
//   text-align: center;
//   position: relative;
//   top: -31px;
//   right: -89%;
// }
