footer {
    background-color: $primary-color;
    height: 85px;
	width: 100%;

}

.footer {
    display: flex;
    justify-content: center;
    font-size: 0;
    align-items: center;
    padding-top: 20px;
    &__tittle {
        font-family: 'Roboto Regular', sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 16px;
        margin-right: 10px;
        color: $disabled-text-color;
    }
    &__tittleLink{
        font-family: 'Roboto Regular', sans-serif;
        font-weight: 500;
        font-style: normal;
        font-size: 16px;
        margin-right: 10px;
        color: $disabled-text-color;
        text-decoration: none;
        text-transform: uppercase;
        transition: 0.5ms all;
        &:hover{
            color: $active-text-color;
        }
    }
    &__btnSection{
        display: none;
        z-index: 2;
    }
    &__btnUp {
        position: fixed;
        top: 85%;
        right: 5%;
        height: 50px;
        width: 50px;
        border: none;
        cursor: pointer;
        border-radius: 50%;
        font-size: 10px;
        box-shadow: $shadow;
        background-color: $primary-color;
    }
    &__btnArrowUp {
        margin: auto;
    }
    
}



@include breakpoints(s) {
    .footer {
        padding-top: 30px;
    }
  }