.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 10px;
  &__logo {
    align-items: center;
    cursor: pointer;
    &:hover {
      transform: scale(1.1);
    }
  }
  &__logoTitle {
    display: none;
  }
  &__navList {
    display: flex;
    list-style: none;
    font-size: 0;
  }
  &__navTitle {
    text-decoration: none;
    text-transform: uppercase;
    color: $disabled-text-color;
    font-family: 'Roboto Medium', sans-serif;
    font-weight: 600;
    font-style: normal;
    font-size: 14px;
    // border-bottom: 3px solid $primary-color;
    padding: 10px 25px 0 25px;
    transition: 0.5ms all;
    &:hover {
      color: $active-text-color;
      // font-weight: 700;
    }
  }
  &__navItem:hover {
    // border-bottom: 3px solid $active-text-color;
    transform: scale(1.1);
  }
  &__navItem:last-child {
    margin-right: 0;
  }
}

.progress-container {
  width: 100%;
  height: 8px;
  background: $primary-color;
}

.progress-bar {
  height: 8px;
  background: $homePageBtnColor;
  width: 0%;
}

//  ==================  TABLET  ===================
@include breakpoints(s) {
  .header__logo {
    display: flex;
  }
  .header__logoTitle {
    display: block;
    font-family: 'Roboto Medium', sans-serif;
    font-weight: 600;
    font-style: normal;
    color: $disabled-text-color;
    margin-left: 5px;
    font-size: 20px;
  }
}

//  ==================  DESKTOP  ===================
@include breakpoints(ml) {
  .header__logo {
    display: flex;
  }
  .header__logoTitle {
    display: block;
    font-family: 'Roboto Medium', sans-serif;
    font-weight: 600;
    font-style: normal;
    color: $disabled-text-color;
    margin-left: 5px;
    font-size: 22px;
  }
}
