.homePage__search {
  box-shadow: 0px 13px 23px -13px rgba(0, 0, 0, 0.41);
  height: 60px;
}

.search__form {
  display: flex;
  justify-content: center;
  padding-top: 17px;
}

.search__film {
  width: 260px;
  font-size: 14px;
  border: none;
  border-bottom: 2px solid #9c99a5;
  font-family: 'Roboto Regular', sans-serif;
  font-weight: 400;
  font-style: normal;
  text-align: center;
  padding-bottom: 3px;
  outline: 0;
  transition: all .2s linear;
}
.search__film:hover {
  border-color: $primary-color;
  transform: scale(1.1);
}

.listMovie {
  display: flex;
  justify-content: center;
  margin-top: 20px;
}

.listMovie__item {
  display: flex;
  justify-content: center;
  align-items: center;
  border-bottom: 2px solid #9c99a5;
  width: 140px;
  height: 40px;
  font-family: 'Roboto Regular', sans-serif;
  font-size: 12px;
  color: $active-text-color;
  cursor: pointer;
  transition: 0.5s all;
}

.listMovie__item--active,
.listMovie__item:hover {
  background-color: $primary-color;
  border-bottom: 2px solid $primary-color;
  color: $item-text-color;
}

.list {
  margin-top: 20px;
  list-style: none;
}

.list__items {
margin-bottom: 10px;
transition: all .2s linear;
cursor: pointer;
}
.list__items:hover {
  transform: scale(1.1);
  z-index: 1;
}
.list__itemsImg {
  width: 298px;
  height: 156px;
  object-fit: cover;
  object-position: 100% 0;
  border-radius: 10px;
  position: absolute;
}

.list__layout {
  top: 0;
  left: 0;
  position: relative;
  background: linear-gradient(
    0deg,
    rgba(35, 31, 32, 1) 11%,
    rgba(71, 71, 75, 0) 82%
  );
  height: 156px;
  width: 298px;
  border-radius: 10px;
}

.list__itemsTitle {
  position: relative;
  top: 70%;
  color: #fff;
  font-family: 'Roboto Medium', sans-serif;
  src: '../fonts/roboto/Roboto-Medium.woff';
  font-weight: 900;
  font-style: normal;
  font-size: 26px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  padding: 0 10px;
}

.homePage__navBtn {
  display: flex;
  justify-content: center;
  margin: auto;
  margin-top: 15px;
  margin-bottom: 15px;
}

.homePage__btnsAdd {
  padding: 10px 15px;
  border: 1px solid #9c99a5;
  border-radius: 3px;
  font-family: 'Roboto Regular', sans-serif;
  src: '../fonts/roboto/Roboto-Regular.woff';
  font-weight: 500;
  font-size: 14px;
  font-style: normal;
  color: $disabled-text-color;
  transition: 0.5s all;
}

.homePage__btnsAdd:not([disabled]):hover {
  background-color: $primary-color;
  border: 1px solid $primary-color;
}

.homePage__btnsAdd:not([disabled]) {
  cursor: pointer;
}

// ===================== TABLET ==============

@include breakpoints(s) {
  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
  }
  .list__itemsImg {
    width: 346px;
    height: 180px;
  }
  .list__layout {
    width: 346px;
    height: 180px;
  }

  .listMuvie__item {
    font-size: 15px;
  }
}



// =================== DESKTOP =================

@include breakpoints(ml) {
  .list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .list__itemsImg {
    width: 446px;
    height: 246px;
  }
  .list__layout {
    width: 446px;
    height: 246px;
  }
}


