.display-section {
    display: none;
  }
  
  @media (min-width: 768px) {
    .display-section {
      display: none;
    }
  }
  
  @media (min-width: 1024px) {
    .display-section {
      display: none;
    }
  }